<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FauxCoin</title>
    </head>

    <style>
      body {background-color: yellow;}
      h1   {color:green;}
      h2   {color:green;}
      h3   {color:green;}
      p    {color:green;}
    </style>

    <body>

        <h1>Welcome to FauxCoin!</h1>
        <form method="post">
          <h1>Login</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
          <h2>Don't have an account?</h2>
          <div><a href="/signup">Sign up</a></div>
          <div>
            <h2>What is FauxCoin?</h2>
            <h3>FauxCoin is an amazing new virtual currency that also servers as entertainment!</h3>
            <h3>Earn FauxCoins by clicking a button! Wow, much fun!</h3>
            <h3>You can also gift FauxCoins to other users! Become a nice person so that other people might gift you coins!</h3>
            <h3>Special offer! New users earn 1 million FauxCoins upon account creation! Don't miss this limited offer!</h3>
            <h3>If you earn 2 million FauxCoins then something fun happens???</h3>
          </div>
        </form>

    </body>
</html>