<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FauxCoin</title>
    </head>

    <style>
      body {background-color: yellow;}
      h1   {color:green;}
      h2   {color:green;}
      h3   {color:green;}
      p    {color:green;}
    </style>


    <body>

      <h1>Welcome to FauxCoin!</h1>
      <h2>Create an account</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>

    </body>
</html>
